block variables

doctype html
html.page(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='css/style.min.css')
    title= title
    link(rel='icon' href='favicon.ico')
    link(rel='icon' href='img/favicons/favicon.svg' type='image/svg+xml')
    link(rel='apple-touch-icon' href='img/favicons/favicon-180.png')
    link(rel='manifest' href='manifest.webmanifest')
    meta(name='description' content='Разработка веб-сайтов, мобильных приложений, слайдшоу и видео для презентаций.')
    meta(name='keywords' content='Nёrds, разработка, веб-сайт, мобильное приложение, слайдшоу, презентация, видео')
  body.page__body
    include ../components/components
    +page-header(class='page__header')
    block content
    +page-footer

