mixin filter(action, method)
  form.catalog__filter.filter(action=action method=method)&attributes(attributes)
    fieldset.filter__section
      legend.filter__section-heading Стоимость:
      .filter__number-range.number-range
        .number-range__range-wrapper(aria-hidden='true')
          .number-range__range.range(data-min-value='0' data-max-value='100')
            button.range__button.range__button--min(type='button')
            button.range__button.range__button--max(type='button')
        label.number-range__min.number-field
          span.number-field__label От
          input.number-field__control(type='number' name="min-price" value="0" min='0' max='200000' step='1')
        label.number-range__max.number-field
          span.number-field__label До
          input.number-field__control(type='number' name="max-price" value="150000" min='0' max='200000' step='1')
    fieldset.filter__section
      legend.filter__section-heading Сетка:
      ul.filter__options
        li.filter__option
          +checker('grid', 'radio', 'adaptive', 'Адаптивная', true)
        li.filter__option
          +checker('grid', 'radio', 'fixed', 'Фиксированная')
        li.filter__option
          +checker('grid', 'radio', 'rubber', 'Резиновая')
    fieldset.filter__section
      legend.filter__section-heading Особенности:
      ul.filter__options
        li.filter__option
          +checker('features', 'checkbox', 'slider', 'Слайдер', true)
        li.filter__option
          +checker('features', 'checkbox', 'advantages', 'Блок преимуществ')
        li.filter__option
          +checker('features', 'checkbox', 'news', 'Новости', true)
        li.filter__option
          +checker('features', 'checkbox', 'gallery', 'Галерея')
        li.filter__option
          +checker('features', 'checkbox', 'cart', 'Корзина')
    .filter__controls
      +button('button', 'Показать', 'submit')(class='button--theme--4 filter__button')
