mixin filter(action, method)
  form.catalog__filter.filter(action=action method=method)&attributes(attributes)
    fieldset.filter__section
      legend.filter__section-heading Стоимость:
      +number-range(class='filter__number-range')
    fieldset.filter__section
      legend.filter__section-heading Сетка:
      ul.filter__options
        li.filter__option
          +checker('grid', 'radio', 'adaptive', 'Адаптивная', true)
        li.filter__option
          +checker('grid', 'radio', 'fixed', 'Фиксированная')
        li.filter__option
          +checker('grid', 'radio', 'rubber', 'Резиновая')
    fieldset.filter__section
      legend.filter__section-heading Особенности:
      ul.filter__options
        li.filter__option
          +checker('features', 'checkbox', 'slider', 'Слайдер', true)
        li.filter__option
          +checker('features', 'checkbox', 'advantages', 'Блок преимуществ')
        li.filter__option
          +checker('features', 'checkbox', 'news', 'Новости', true)
        li.filter__option
          +checker('features', 'checkbox', 'gallery', 'Галерея')
        li.filter__option
          +checker('features', 'checkbox', 'cart', 'Корзина')
    .filter__controls
      +button('button', 'Показать', 'submit')(class='button--theme--4 filter__button')
