mixin letter
  section.letter&attributes(attributes)
    .container
      h2.letter__heading Напишите нам
      form.letter__form(action='https://echo.htmlacademy.ru/courses' method='post')
        label.text-field
          span.text-field__label Ваше имя:
          input.text-field__control(type='text' name="name" placeholder='Имя Фамилия')
        label.text-field
          span.text-field__label Ваш email:
          input.text-field__control(type='email' name="email" placeholder='email@example.com')
        label.letter__text.text-area
          span.text-area__label Текст письма
          textarea.text-area__control(name='text' placeholder='В свободной форме')
        +button('button', 'Отправить', 'submit')(class='letter__submit')
