mixin letter
  section.letter&attributes(attributes)
    .container
      h2.letter__heading Напишите нам
      form.letter__form(action='https://echo.htmlacademy.ru/courses' method='post')
        +text-field('name', 'text', 'Ваше имя:', 'Имя Фамилия')
        +text-field('email', 'email', 'Ваш email:', 'email@example.com')
        +text-area('text', 'Текст письма:', 'В свободной форме', 'ghbdtn')(class='letter__text')
        +button('button', 'Отправить', 'submit')(class='letter__submit')
