mixin logo-alter
  picture.logo-alter&attributes(attributes)
    source(type='image/webp' srcset='img/logo-alter.webp, img/logo-alter@2x.webp 2x')
    img.logo-alter__image(src='img/logo-alter.png' srcset="img/logo-alter@2x.png" width='360' height='208' alt='Логотип в виде надписи nёrd\'s на фоне празднично разбросанных красных, синих, жёлтых, зелёных кругов и палочек.')
