mixin page-footer
  footer.page-footer&attributes(attributes)
    +contacts(id='contacts')
    .page-footer__socials
      .page-footer__socials-container.container
        +socials(class='page-footer__socials-list')
        .page-footer__socials-text-wrapper
          p.page-footer__socials-slogan Давайте дружить, это выгодно!
          p.page-footer__socials-text Скидка 10% для друзей из социальных сетей.
  +modal
  script(src='js/main.js')
