mixin page-header
  header.page-header&attributes(attributes)
    .page-header__container.container
      +logo
      nav.page-header__navigation
        +site-navigation(class='page-header__site-navigation')
        +user-navigation(class='page-header__user-navigation')
