mixin socials__item(name, text, link)
  li.socials__item
    a.socials__link(class= `socials__link--${name}` href= link)
      span.visually-hidden= name

mixin socials
  ul.socials&attributes(attributes)
    +socials__item('vk', 'Вконтакте', '#!')
    +socials__item('facebook', 'Facebook', '#!')
    +socials__item('instagram', 'Instagram', '#!')
