mixin socials
  ul.socials&attributes(attributes)
    li.socials__item
      a.socials__link(href='#!')
        span.visually-hidden Вконтакте
    li.socials__item
      a.socials__link(href='#!')
        span.visually-hidden Facebook
    li.socials__item
      a.socials__link(href='#!')
        span.visually-hidden Instagram
