mixin socials
  ul.socials&attributes(attributes)
    li.socials__item
      a.socials__link.socials__link--vk(href='#!')
        span.visually-hidden Вконтакте
    li.socials__item
      a.socials__link.socials__link--facebook(href='#!')
        span.visually-hidden Facebook
    li.socials__item
      a.socials__link.socials__link--instagram(href='#!')
        span.visually-hidden Instagram
