extends layout/layout

block variables
  - var title = 'Магазин'
  - var pageClass = 'catalog-page'

block content
  main(class= pageClass)
    header.main-header
      .container
        h1.main-header__heading.heading.heading--size--xl Магазин готовых шаблонов
    section.catalog
      .catalog__container.container
        form.catalog__filter.filter(action='https://echo.htmlacademy.ru/courses' method='get')
          fieldset.filter__section
            legend.filter__section-heading Стоимость:
            .filter__number-range.number-range
              .number-range__range-wrapper(aria-hidden='true')
                .number-range__range.range
                  button.range__button(type='button' data-type='min' style='left:0%')
                  button.range__button(type='button' data-type='max' style='left:75%')
              label.number-range__min.number-field
                span.number-field__label От
                input.number-field__control(type='number' name="min-price" data-type="min" value="0" min='0' max='200000' step='1')
              label.number-range__max.number-field
                span.number-field__label До
                input.number-field__control(type='number' name="max-price" data-type="max" value="150000" min='0' max='200000' step='1')
          fieldset.filter__section
            legend.filter__section-heading Сетка:
            ul.filter__options
              li.filter__option
                label.checker
                  input.checker__control(type='radio' name='grid' checked)
                  span.checker__label Адаптивная
              li.filter__option
                label.checker
                  input.checker__control(type='radio' name='grid')
                  span.checker__label Фиксированная
              li.filter__option
                label.checker
                  input.checker__control(type='radio' name='grid')
                  span.checker__label Резиновая
          fieldset.filter__section
            legend.filter__section-heading Особенности:
            ul.filter__options
              li.filter__option
                label.checker
                  input.checker__control(type='checkbox' name='slider' checked)
                  span.checker__label Слайдер
              li.filter__option
                label.checker
                  input.checker__control(type='checkbox' name='advantages')
                  span.checker__label Блок преимуществ
              li.filter__option
                label.checker
                  input.checker__control(type='checkbox' name='news' checked)
                  span.checker__label Новости
              li.filter__option
                label.checker
                  input.checker__control(type='checkbox' name='gallery')
                  span.checker__label Галерея
              li.filter__option
                label.checker
                  input.checker__control(type='checkbox' name='cart')
                  span.checker__label Корзина
          .filter__controls
            +button('button', 'Показать', 'submit')(class='button--theme--4 filter__button')
        dl.catalog__sorting.sorting
          dt.sorting__heading Сортировать:
          dd.sorting__parameter
            ul.sorting__types
              li.sorting__type
                a.sorting__link.sorting__link--current(href='#!') По цене
              li.sorting__type
                a.sorting__link(href='#!') По типу
              li.sorting__type
                a.sorting__link(href='#!') По названию
          dd.sorting__parameter
            ul.sorting__directions
              li.sorting__direction
                a.sorting__button.sorting__button--current(href='#!')
                  span.visually-hidden По убыванию
              li.sorting__direction
                a.sorting__button.sorting__button--up(href='#!')
                  span.visually-hidden По возрастанию
        ul.catalog__products.products
          li.products__item.product
            picture.product__img-wrapper
              source(type='image/webp' srcset='img/products/product-1.webp, img/products/product-1@2x.webp 2x')
              img.product__img(src='img/products/product-1.png' srcset='img/products/product-1@2x.png 2x' width='358' height='578' alt='Макет сайта для небольшого туристического городка Седоны.')
            .product__info
              h3.product__heading
                a.product__link(href='#!') Sedona
              p.product__text Информационный сайт для&nbsp;туристов
              +button('a', '9 900 ₽', '', '#!')(class='product__button')
          li.products__item.product
            picture.product__img-wrapper
              source(type='image/webp' srcset='img/products/product-2.webp, img/products/product-2@2x.webp 2x')
              img.product__img(src='img/products/product-2.png' srcset='img/products/product-2@2x.png 2x' width='358' height='578' alt='Макет сайта для мобильного приложения PINK.')
            .product__info
              h3.product__heading
                a.product__link(href='#!') Pink App
              p.product__text Продуктовый лендинг приложения для iOS и Android
              +button('a', '9 900 ₽', '', '#!')(class='product__button')
          li.products__item.product
            picture.product__img-wrapper
              source(type='image/webp' srcset='img/products/product-3.webp, img/products/product-3@2x.webp 2x')
              img.product__img(src='img/products/product-3.png' srcset='img/products/product-3@2x.png 2x' width='358' height='578' alt='Макет сайта для барбершопа BORODINSKI.')
            .product__info
              h3.product__heading
                a.product__link(href='#!') Barbershop
              p.product__text Сайт салона красоты.#[br] Для мужчин, да.
              +button('a', '9 900 ₽', '', '#!')(class='product__button')
          li.products__item.product
            picture.product__img-wrapper
              source(type='image/webp' srcset='img/products/product-4.webp, img/products/product-4@2x.webp 2x')
              img.product__img(src='img/products/product-4.png' srcset='img/products/product-4@2x.png 2x' width='358' height='578' alt='Макет сайта-магазина милых ручных изделий MISHKA.')
            .product__info
              h3.product__heading
                a.product__link(href='#!') Mishka
              p.product__text Интернет-магазин#[br] вязаных игрушек
              +button('a', '9 900 ₽', '', '#!')(class='product__button')
          li.products__item.product
            picture.product__img-wrapper
              source(type='image/webp' srcset='img/products/product-5.webp, img/products/product-5@2x.webp 2x')
              img.product__img(src='img/products/product-5.png' srcset='img/products/product-5@2x.png 2x' width='358' height='578' alt='Макет сайта для учебного заведения.')
            .product__info
              h3.product__heading
                a.product__link(href='#!') A plus
              p.product__text Лендинг курсов повышения квалификации
              +button('a', '9 900 ₽', '', '#!')(class='product__button')
          li.products__item.product
            picture.product__img-wrapper
              source(type='image/webp' srcset='img/products/product-6.webp, img/products/product-6@2x.webp 2x')
              img.product__img(src='img/products/product-6.png' srcset='img/products/product-6@2x.png 2x' width='358' height='578' alt='Макет сайта-магазин крафтового квасас КВАСТ.')
            .product__info
              h3.product__heading
                a.product__link(href='#!') Кваст
              p.product__text Промо-сайт производителя крафтового кваса
              +button('a', '9 900 ₽', '', '#!')(class='product__button')
        .catalog__pagination.pagination
          ul.pagination__list
            li.pagination__item
              +button('a', '1', '', '#!')(class='button--theme--4 button--current')
            li.pagination__item
              +button('a', '2', '', '#!')(class='button--theme--4')
            li.pagination__item
              +button('a', '3', '', '#!')(class='button--theme--4')
            li.pagination__item
              +button('a', 'Следующая', '', '#!')(class='button--theme--4 pagination__next')
