extends layout/layout

block variables
  - var title = 'Главная страница'
  - var pageClass = 'index-page'

block content
  main(class= pageClass)
    h1.visually-hidden Дизайн-студия "Nёrds"
    +features
    +services
    +about-us(class='page__section page__section--border-top')
    +clients(class='page__section page__section--border-top page__section--border-bottom')
