.contacts-card {
  font-size: 16px;
  line-height: 18px;
  color: $text-weak-color;
  background-color: $background-color;
}

.contacts-card__heading {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: $text-accent-color;
}

.contacts-card__item {
  display: block;
  margin: 18px 0;
}

.contacts-card__item--link {
  text-decoration: none;
  color: inherit;
  transition: opacity $duration;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts-card__button {
  width: 100%;
  margin: 20px 0 0;
}
