.modal {
  z-index: 1000000;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  place-items: center;
  overflow: auto;

  &--open {
    display: grid;
  }
}

.modal__inner {
  padding: 64px 100px 84px;
  margin: 10px;
  background-color: $background-color;
  filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.4));
}

.modal__content {
  position: relative;
}

.modal__close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url('../img/icons.svg#close-cross');
  background-size: 21px 21px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;

  &:hover,
  &:focus-visible {
    opacity: 1;
  }

  &:active {
    opacity: 0.1;
  }
}

.modal__letter {
  width: 760px;
}
