.page-footer__socials-slogan {
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  color: $text-accent-color;
}

.page-footer__socials {
  color: $text-weak-color;
  font-size: 16px;
  line-height: 22px;
}
