.page__body {
  display: grid;
  min-width: 1200px;
  min-height: 100vh;
  margin: 0;
  grid-template-rows: auto 1fr auto;
  font-family: $basic-font-family;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: $text-color;
  background-color: $background-color;

  &--no-scroll {
    height: 100vh;
    overflow: hidden;
  }
}

.page__header {
  z-index: 2;
}

.page__section--border-top {
  position: relative;
  padding-top: 40px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1160px;
    height: 2px;
    background-color: $page-section-border-color;
    transform: translateX(-50%);
  }
}

.page__section--border-bottom {
  position: relative;
  padding-bottom: 40px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1160px;
    height: 2px;
    background-color: $page-section-border-color;
    transform: translateX(-50%);
  }
}
