.page-header {
  padding: 48px 0 0;
  background-color: $background-alter-color;
}

.page-header__container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 100px;
  align-items: center;
}

.page-header__navigation {
  display: grid;
  margin: 10px 0 0;
  grid-template-columns: 1fr auto;
  column-gap: 96px;
  align-items: center;
}

.page-header__site-navigation {
  margin: 0 auto;
}

.page-header__user-navigation {
  margin: 0;
}
