.pagination {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: $text-accent-color;
}

.pagination__list {
  display: flex;
  padding: 0;
  margin: 0 -12px -12px 0;
  list-style: none;
  flex-wrap: wrap;
}

.pagination__item {
  margin: 0 12px 12px 0;
}

.pagination__next {
  min-width: 260px;
}
