.services__list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(3, 300px);
  column-gap: 100px;
  row-gap: 60px;
}

.services__item {
  position: relative;

  &::before {
    display: block;
    content: "";
    width: 300px;
    height: 146px;
    margin: 0 auto 26px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &--web-sites::before {
    background-image: url('../img/service-web-sites.jpg');

    @supports (background-image: url('../img/service-web-sites.webp')) {
      background-image: url('../img/service-web-sites.webp')
    }

    @media #{$retina} {
      background-image: url('../img/service-web-sites@2x.jpg');

      @supports (background-image: url('../img/service-web-sites@2x.webp')) {
        background-image: url('../img/service-web-sites@2x.webp')
      }
    }
  }

  &--apps::before {
    background-image: url('../img/service-apps.jpg');

    @supports (background-image: url('../img/service-apps.webp')) {
      background-image: url('../img/service-apps.webp')
    }

    @media #{$retina} {
      background-image: url('../img/service-apps@2x.jpg');

      @supports (background-image: url('../img/service-apps@2x.webp')) {
        background-image: url('../img/service-apps@2x.webp')
      }
    }
  }

  &--presentations::before {
    background-image: url('../img/service-presentations.jpg');

    @supports (background-image: url('../img/service-presentations.webp')) {
      background-image: url('../img/service-presentations.webp')
    }

    @media #{$retina} {
      background-image: url('../img/service-presentations@2x.jpg');

      @supports (background-image: url('../img/service-presentations@2x.webp')) {
        background-image: url('../img/service-presentations@2x.webp')
      }
    }
  }
}

.services__name {
  margin: 0 0 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: $text-accent-color;
}

.services__text {
  width: 90%;
  margin: 10px 0;
}

.services__button {
  min-width: 160px;
  margin: 22px 0 0;
}
