.site-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: $text-accent-color;
}

.site-navigation__item {
  flex-shrink: 0;
  margin: 0 23px;
}

.site-navigation__link {
  display: block;
  padding: 17px 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  color: inherit;
  text-decoration: none;
  transition: color $duration;

  &--current {
    border-bottom-color: $special-color-1;
  }

  &[href]:hover,
  &[href]:focus-visible {
    color: $special-color-1;
  }

  &[href]:active {
    color: fade-out($text-accent-color, 0.7);
  }
}
