.socials {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.socials__item {
  margin: 0 10px 10px 0;
}

.socials__link {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $socials-item-background-color;
  transition: background-color $duration;

  &::after {
    content: "";
    display: block;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--vk::after {
    background-image: url("../img/icons.svg#socials_vk-icon");
    background-size: 27px 15px;
  }

  &--facebook::after {
    background-image: url("../img/icons.svg#socials_facebook-icon");
    background-size: 12px 22px;
  }

  &--instagram::after {
    background-image: url("../img/icons.svg#socials_instagram-icon");
    background-size: 21px 21px;
  }

  &:hover,
  &:focus-visible {
    background-color: $special-color-1-dark;
  }

  &:active {
    background-color: $special-color-1-darkest;
  }
}
