@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/roboto-400.woff2"),
    url("../fonts/roboto-400.woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("../fonts/roboto-500.woff2"),
    url("../fonts/roboto-500.woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/roboto-700.woff2"),
    url("../fonts/roboto-700.woff");
}
