$text-color: #283136;
$text-alter-color: #ffffff;
$text-accent-color: #000000;
$text-weak-color: #666666;
$background-color: #ffffff;
$background-alter-color: #eeeeee;
$special-color-1: #fb565a;
$pagination-link-background-color: #eeeeee;
$pagination-link-hover-background-color: #dfdfdf;
$pagination-link-active-background-color: #d5d5d5;
$pagination-current-link-border-color: #dbdbdb;
