-
  var clients = [
    {
      imageSvg: 'html-academy-logo.svg',
      imageWidth: '199',
      imageHeight: '57',
      imageDescription: 'Логотип HTML Academy.',
      link: '#!'
    },
    {
      image: 'borodinski-logo.png',
      image2x: 'borodinski-logo@2x.png',
      imageWebp: 'borodinski-logo.webp,',
      imageWebp2x: 'borodinski-logo@2x.webp',
      imageWidth: '209',
      imageHeight: '90',
      imageDescription: 'Логотип Barbershop BORODINSKI.',
      link: '#!'
    },
    {
      image: 'pink-logo.png',
      image2x: 'pink-logo@2x.png',
      imageWebp: 'pink-logo.webp,',
      imageWebp2x: 'pink-logo@2x.webp',
      imageWidth: '185',
      imageHeight: '52',
      imageDescription: 'Логотип PINK.',
      link: '#!'
    },
    {
      image: 'mishka-logo.png',
      image2x: 'mishka-logo@2x.png',
      imageWebp: 'mishka-logo.webp,',
      imageWebp2x: 'mishka-logo@2x.webp',
      imageWidth: '173',
      imageHeight: '84',
      imageDescription: 'Логотип MISHKA.',
      link: '#!'
    }
  ];
