-
  var products = [
    {
      name: 'Sedona',
      description: 'Информационный сайт для&nbsp;туристов',
      price: '9 900',
      image: 'product-1.png',
      image2x: 'product-1@2x.png',
      imageWebp: 'product-1.webp,',
      imageWebp2x: 'product-1@2x.webp',
      imageDescription: 'Макет сайта для небольшого туристического городка Седоны.',
      link: '#!'
    },
    {
      name: 'Pink App',
      description: 'Продуктовый лендинг приложения для iOS и Android',
      price: '9 900',
      image: 'product-2.png',
      image2x: 'product-2@2x.png',
      imageWebp: 'product-2.webp,',
      imageWebp2x: 'product-2@2x.webp',
      imageDescription: 'Макет сайта для мобильного приложения PINK.',
      link: '#!'
    },
    {
      name: 'Barbershop',
      description: 'Сайт салона красоты.<br> Для мужчин, да.',
      price: '9 900',
      image: 'product-3.png',
      image2x: 'product-3@2x.png',
      imageWebp: 'product-3.webp,',
      imageWebp2x: 'product-3@2x.webp',
      imageDescription: 'Макет сайта для барбершопа BORODINSKI.',
      link: '#!'
    },
    {
      name: 'Mishka',
      description: 'Интернет-магазин<br> вязаных игрушек',
      price: '9 900',
      image: 'product-4.png',
      image2x: 'product-4@2x.png',
      imageWebp: 'product-4.webp,',
      imageWebp2x: 'product-4@2x.webp',
      imageDescription: 'Макет сайта-магазина милых ручных изделий MISHKA.',
      link: '#!'
    },
    {
      name: 'A plus',
      description: 'Лендинг курсов повышения квалификации',
      price: '9 900',
      image: 'product-5.png',
      image2x: 'product-5@2x.png',
      imageWebp: 'product-5.webp,',
      imageWebp2x: 'product-5@2x.webp',
      imageDescription: 'Макет сайта для учебного заведения.',
      link: '#!'
    },
    {
      name: 'Кваст',
      description: 'Промо-сайт производителя крафтового кваса',
      price: '9 900',
      image: 'product-6.png',
      image2x: 'product-6@2x.png',
      imageWebp: 'product-6.webp,',
      imageWebp2x: 'product-6@2x.webp',
      imageDescription: 'Макет сайта-магазин крафтового квасас КВАСТ.',
      link: '#!'
    },
  ];
